services:
  vault:
    image: hashicorp/vault-enterprise:${VAULT_VERSION:-latest}
    container_name: vault
    restart: unless-stopped
    ports:
      - "8200:8200"
    env_file:
      - .env # Contains VAULT_ADDR, VAULT_LICENSE
    environment:
      VAULT_LOG_LEVEL: ${VAULT_LOG_LEVEL:-info} # Default to 'info', allow override via .env
    cap_add:
      - IPC_LOCK
    volumes:
      - ./vault.hcl:/vault/config/vault.hcl
    command: server
    healthcheck:
      test: ["CMD", "vault", "status"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s # Give Vault time to start before checking

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "1080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - vault
    networks:
      - default


networks:
  default:
    name: ${COMPOSE_PROJECT_NAME}
